<launch>
  <!-- unique camera name-->
  <arg name="camera_name" default="camera"/>
  <!-- Hardware depth registration -->
  <arg name="3d_sensor" default="dabai_dcw2"/>
  <!-- stereo_s_u3, astrapro, astra -->
  <arg name="camera1_prefix" default="01"/>
  <arg name="camera2_prefix" default="02"/>
  <arg name="camera1_serila_number" default="AUIT73D0032"/>
  <arg name="camera2_serila_number" default="AUIT73D001S"/>
  <arg name="device_num" default="2"/>
  <include file="$(find astra_camera)/launch/$(arg 3d_sensor).launch">
      <arg name="camera_name" value="$(arg camera_name)_$(arg camera1_prefix)"/>
      <arg name="serial_number" value="$(arg camera1_serila_number)"/>
      <arg name="device_num" value="$(arg device_num)"/>
  </include>

  <include file="$(find astra_camera)/launch/$(arg 3d_sensor).launch">
      <arg name="camera_name" value="$(arg camera_name)_$(arg camera2_prefix)"/>
      <arg name="serial_number" value="$(arg camera2_serila_number)"/>
      <arg name="device_num" value="$(arg device_num)"/>
  </include>
</launch>
